@import "./common/search-list-header";
.container{
    margin-top: (94rem / $param);
    font-size: (26rem / $param);
}
.address-list{
    margin-top: (94rem / $param);
    font-size: (26rem / $param);
}
