@import "./common/common-header";
/***************************order page style start**********************************************/
.container{
    margin-top: (94rem / $param);
    font-size: (26rem / $param);
}
.order-list{
    margin-top: (20rem / $param);
}
li.order{
    border: (1rem / $param) solid #cecccd;
    min-height: (180rem / $param);
    padding: (10rem / $param) (20rem /$param) (10rem / $param) (20rem / $param);
    margin-bottom: (20rem / $param);
    background: #fff;
}
.order a{
    display: none;
}
.date{
    display: inline-block;
    color: #a9a8af;
}
.nav-detail{
    float: right;
    font-size: (36rem / $param);
}
.J_del{
    color: red;
    float: right;
    margin-right: (15rem / $param);
    border-radius: (8rem / $param);
}
.J_del i{
    font-size: (36rem / $param);
}
.show-info div{
    float: left;
}
.store-logo{
    padding: (40rem / $param) (20rem / $param) (20rem / $param) 0;
}
.detail-info{
    width: 90%;
}
.store-name{
    font-size: (30rem / $param);
    padding: (10rem / $param) 0 (15rem / $param) 0;
    border-bottom: (1rem / $param) solid #a9a8af;
}
.total-info{
    margin-top: (15rem / $param);
}
.price{
    font-weight: bold;
    font-size: (28rem / $param);
}
.store-logo i{
    color: dodgerblue;
}
.message-tip{
    display: inline-block;
    width: (18rem / $param);
    height: (18rem / $param);
    border: (1rem / $param) solid red;
    background-color: red;
    border-radius: 50%;
}
/***************************order page style end**********************************************/
