@import "./common/search-list-header";
.container{
    margin-top: (94rem / $param);
    position: fixed;
    font-size: (36rem / $param);
}
/*--------------------------password-modify start--------------------------------*/
.pass-box{
	margin-top: (30rem / $param);
}
.modify-pass{
	border: none;
	border-bottom: (1rem / $param) solid #c5c3c2;
	width: (750rem / $param);
	height: (110rem / $param);
	display: block;
}
input[type="password"]{
	padding-left: (20rem / $param);
}
.confirm-modify{
	margin: (35rem / $param) (25rem / $param);
	width: (700rem / $param);
	height: (100rem / $param);
	color: #fff;
	background-color: #00DD77;
	border-radius: (10rem / $param);
	border: none;
}
.error-field{
	color: #B94A48;
	margin-left: (20rem / $param);
	margin-top: (20rem / $param);
}
/*--------------------------password-modify end--------------------------------*/