@import "./common/common-header";
.container{
    margin-top: (94rem / $param);
    font-size: (36rem / $param);
}
/*--------------------register----------------------------*/
.register-detail{
	background: #fff;
	margin-top: (110rem / $param);
	li{
		border-bottom:(1rem / $param) solid #E5E5E5;
		line-height: (110rem / $param);
	}
	label{
		padding-left:(30rem / $param);
		padding-right:(10rem / $param);
		width:(160rem / $param);
		display:inline-block;
		text-align: right;
	}
	input[type="radio"]{
		margin-right: (10rem / $param);
		width:  (30rem / $param);
		height:  (30rem / $param);
	}
	input{
		border: (0rem / $param);
		padding:  (10rem / $param);
		width:(380rem / $param);
	}
}
.submit-add{
	width: (700rem / $param);
	height: (100rem / $param);
	line-height: (100rem / $param);
	margin: (35rem / $param) (26rem / $param);
	background: #38A2FA;
	color: #fff;
	border-radius: (10rem / $param);
	border: none;
	cursor:pointer
}
.to-grey{
	background: #ccc;
	color:#fff;
	border-radius:	(10rem / $param);
	padding:(2rem / $param) (10rem / $param);
	font-size: (34rem / $param);
	text-align: center;
	display:inline-block;
	border-radius: (5rem / $param);
	border: none;
}
.error-field{
	color: #B94A48;
	margin-left: (20rem / $param);
	margin-top: (20rem / $param);
}
.send-phone{
	background: #38A2FA;
	color:#fff;
	border-radius:	(10rem / $param);
	padding:(2rem / $param) (10rem / $param);
	font-size: (34rem / $param);
	text-align: center;
	display:inline-block;
	border-radius: (5rem / $param);
	border: none;
}